body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

article {
  margin-bottom: 20px;
}

article h3 {
  margin-top: 0;
}

article p {
  line-height: 1.5;
}

article a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

article a:hover {
  background-color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.wrapper {
  margin: 0 150px;
  padding-top: 30px;
}

.article-header {
  margin-top: 1px;
}

.like-button,
.dislike-button {
  background-color: #e4dcdc;
  border: none;
  color: #333;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.like-button:hover,
.dislike-button:hover {
  background-color: #d3cbcb;
}

#article-likes,
#article-dislikes {
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
}