@font-face {
    font-family: "OldLondon";
    src: url(fonts/OldLondon.ttf) format('truetype');
}

body {
    font-family: "Times New Roman",  serif;
}

a.nav-link {
    transition: all .1s ease-in-out;
}

a.nav-link:hover {
    transform: scale(1.2,1.2);
}

a.navbar-brand {  
    font-family: "OldLondon", serif;
    font-weight: normal;
}